<main class="mt-5">
    <div class="container">
        <!--Section: Best Features-->
        <section id="best-features"
            class="text-center">
            {{> videofeature}}
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                {{> history}}
                <!--Grid column-->
                {{> devotion}}
                <!--Grid column-->
                {{> whyjoinus}}
                <!--Grid column-->

                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <hr class="my-5">