<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible"
            content="ie=edge">
        <title>{{ tabtitle }}</title>
        <!-- Font Awesome -->
        <link rel="stylesheet"
            type="text/css"
            href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet"
            type="text/css"
            href="mdb/css/bootstrap.min.css">
        <!-- Material Design Bootstrap -->
        <link rel="stylesheet"
            type="text/css"
            href="mdb/css/mdb.min.css">
        <!-- Your custom styles (optional) -->
        <link rel="stylesheet"
            type="text/css"
            href="mdb/css/style.css">

        <link rel="stylesheet"
            type="text/css"
            href="static/css/landing.css">

        <link rel="stylesheet"
            type="text/css"
            href="mdb/css/v4.css">
        <link rel="stylesheet"
            type="text/css"
            href="static/dev/webnote.css">


    </head>

    <body>
        {{{ body }}}


    </body>

</html>