<!-- Card -->
<!--Grid column-->
<div class="col-lg-4 col-md-6 mb-lg-0 mb-4">
    <!-- Card 1 -->

    <div class="card card-cascade narrower">

        <!-- Card image -->
        <div class="view view-cascade gradient-card-header peach-gradient">

            <!-- Title -->
            <h2 class="pt-3 card-header-title mb-3">Father Hugo Londono</h2>
            <!-- Text -->
            <p class="pb-3"><i class="fas fa-calendar mr-2"></i>07.26.2013</p>

        </div>
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
            <text class="mb-1 card-parish">St. Hyacinth & St. Vincent de Paul Parishes
            </text>
            <hr>
            <!-- Text -->
            <div class="card-quote-regular"><i class="fas fa-quote-left"></i>It was a
                blessing to have
                him in this beautiful ministry...<br>I do
                recommend Mr. Bonack who has so much love for the church
            </div>
            <a href="#!"
                class="orange-text d-flex flex-row-reverse p-2">
                <h4 class="waves-effect waves-light">Read more<i
                        class="fas fa-angle-double-right ml-2"></i></h4>
            </a>
            <hr>

            <!-- Twitter -->
            <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"> </i></a>
            <!-- Linkedin -->
            <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"> </i></a>
            <!-- Facebook -->
            <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"> </i></a>
            <!-- Email -->
            <a class="px-2 fa-lg email-ic"><i class="fas fa-envelope"> </i></a>

        </div>

    </div>
</div>
<!-- Card -->


<!--Grid column-->
<div class="col-lg-4 col-md-6 mb-lg-0 mb-4">

    <!-- Card 2-->
    <div class="card testimonial-card">

        <!-- Background color -->
        <div class="card-up blue-gradient center pt-4 pb-3">
            <h2 class="card-title">Father Londono</h2>
            <text class="mb-0 pt-2 card-parish">St. Hyacinth & St. Vincent de Paul Parishes
            </text>
        </div>
        <!-- Content -->
        <div class="card-body d-flex align-items-center">
            <blockquote class="blockquote"><i class="fas fa-quote-left"></i>
                I do recommend Mr. Bonack who has so much love for the church
            </blockquote>
        </div>

    </div>
    <!-- Card -->
</div>
<!--Grid column-->

<div class="col-lg-4 col-md-6 mb-lg-0 mb-4">
    <!--Grid column-->
    <div class="testimonial">
        <!--Avatar-->

        <!--Content-->
        <h4 class="font-weight-bold mt-4">Reverend Father Manny Ediza</h4>
        <h5 class="blue-text font-weight-bold my-3">San Diego, CA</h5>
        <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>Frank and Trudy were
            able to register more than 400 parishioners for the Living Rosary</p>
        <!--Review-->
        <div class="grey-text">
            <!-- Twitter -->
            <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"> </i></a>
            <!-- Linkedin -->
            <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"> </i></a>
            <!-- Facebook -->
            <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"> </i></a>
            <!-- Email -->
            <a class="px-2 fa-lg email-ic"><i class="fas fa-envelope"> </i></a>
        </div>
    </div>
    <!--Grid column-->
</div>