<!-- Section: Testimonials v.1 -->
<section class="text-center my-5 p-1">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Letters from Parishes</h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">Feedback received by
        founding members from parishes they have visited, setting up and guiding the
        parishioners in establishing the Living Rosary Devotion locally. Invite
        the founders to visit your parish <a href="#contact_anchor">here</a>
    </p>

    <!-- Grid row -->
    <div class="row d-flex">

        {{> card_cascaded }}

    </div>


</section>
<!-- Section: Testimonials v.1 -->