<!-- Section: Testimonials v.1 -->
<section class="text-center my-5 p-1">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Letters from Parishes</h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">Feedback received by
        founding members from parishes they have visited, setting up and guiding the
        parishioners in establishing the Living Rosary Devotion locally. Invite
        the founders to visit your parish <a href="#contact_anchor">here</a>
    </p>

    <h1>Testimony Block Help</h1>
    <h3>Each of letters.author</h3>
    {{#each letters}}
        <h4>{{ author }}</h4>
        <hr>
        {{ quotes }}
        <hr>

    {{/each }}
    <!-- Grid row -->
    <div class="row d-flex">

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-4 align-self-stretch">
            <!-- Card -->
            <div class="card testimonial-card">

                <!-- Background color -->
                <div
                    class="card-up blue-gradient d-flex align-items-center justify-content-center pt-4 pb-4">
                    <h4 class="card-title">Father Londono</h4>
                </div>
                <!-- Content -->
                <div class="card-body d-flex align-items-center">
                    <blockquote class="blockquote"><i class="fas fa-quote-left"></i>
                        I do recommend Mr. Bonack who has so much love for the church
                    </blockquote>
                </div>

            </div>
            <!-- Card -->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-4 align-self-stretch">
            <!-- Card -->
            <div class="card testimonial-card">

                <!-- Background color -->
                <div
                    class="card-up blue-gradient d-flex align-items-center justify-content-center pt-4 pb-4">
                    <h4 class="card-title">Reverend Father Manny Ediza</h4>
                </div>
                <!-- Content -->
                <div class="card-body d-flex align-items-center">
                    <blockquote class="blockquote"><i class="fas fa-quote-left"></i>
                        Frank and Trudy were able to register more than 400 parishioners for the
                        Living Rosary
                    </blockquote>
                </div>

            </div>
            <!-- Card -->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-4 align-self-stretch">
            <!-- Card -->
            <div class="card testimonial-card">

                <!-- Background color -->
                <div
                    class="card-up blue-gradient d-flex align-items-center justify-content-center pt-4 pb-4">
                    <h4 class="card-title">Reverend Gerard Willger</h4>
                </div>
                <!-- Content -->
                <div class="card-body d-flex align-items-center">
                    <blockquote class="blockquote"><i class="fas fa-quote-left"></i>
                        They felt connected with others throughout the world while praying this
                        beautiful devotion
                    </blockquote>
                </div>

            </div>
            <!-- Card -->
        </div>
        <!--Grid column-->


</section>
<!-- Section: Testimonials v.1 -->