.video-rwd {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }
    
    .video-rwd iframe,
    .video-rwd object,
    .video-rwd embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }


#historydiv {
    line-height: 1.5;
    font-size: 1rem;
}

#historydiv p.collapse[aria-expanded="false"] {
    display: block;
    height: 60px !important;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  

}

#historydiv p[aria-expanded="true"] {
    overflow: visible;
}

#historydiv p.collapsing[aria-expanded="false"] {
    height: 60px !important;
}

#historydiv a.collapsed:after {
    content: 'Read more...';
}

#historydiv a:not(.collapsed):after {
    content: 'Read less...';
}