<!--Grid row-->
<div class="row d-flex justify-content-center mb-4">

    <!--Grid column-->
    <div class="col-md-8">

        <!-- Description -->
        <p class="grey-text">Watch Founders Frank and Trudy Bonack as they explain
            the Living Rosary Devotion!</p>

        <div class="video-rwd">
            <iframe width="560"
                height="315"
                src="https://www.youtube.com/embed/5QJoBvnu6_Q"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

    </div>
    <!--Grid column-->

</div>