{{!-- Visible partials --}}
<h1 class="webnote">Any text appearing in this type of box is not part of the website, it is just a
  note to label the different sections and make feedback and editing simpler.</h1>

{{> mask.container }}

<h1 class="webnote">Video Component</h1>

{{> video.component }}

<h1 class="webnote">Details Component
  <hr>
  This component area will have side-scrolling. The text here is limited to 6-8 lines and by
  clicking on the title, icon, or text area will take you to a full page of that specific Detail
  topic
</h1>

{{> details.container }}

<h1 class="webnote">Testimony Component
  <hr>
  This section has a short head explaining what's here
  <hr>
  Here are three examples of Testimony Cards with a small quote. Clicking anywhere on a card will
  take you to the full document that the quote excerpt is from</h1>

{{> testimony.container }}

<h1 class="webnote">Contact Info Component
  <hr>
  I have pics of everyone so I'm planning to have the contacts listed in cards horizontally and
  users can click on their geographic area, fill out the form and submit.</h1>

{{> contactinfo.container }}




{{!-- Hidden partials --}}

{{> iconsprite.script }}

{{> mdbscripts.script }}