<!--Grid column-->
<div class="col-md-4 mb-5 container"
    id="historydiv">
    <svg class="icon">
        <use xlink:href="#book" />
    </svg>
    {{!-- <i class="fas fa-history fa-4x orange-text"></i> --}}
    <h4 class="my-4 font-weight-bold">History</h4>
    <p>
        This Living Rosary is not a new devotion. It
        was
        started in 1940 during WWII, in Krakow, Poland. As the Nazis
        were
        arresting the Salesian Priests, these priests asked Catholic
        layman, Jan
        Tyranowski, to gather groups of 15 youth to pray the 15 decades
        (which
        are now 20).
    </p>
    <p class="collapse"
        id="historytext">
        These groups were called Living Rosary Circles, who
        prayed
        for their freedom and families and were able to pray this 1
        decade no
        matter where they fled to.
        From this 1st group of 15 youth, 10 became priests. One of these
        priests
        name was Fr. Karol Wojtyla, who is now our beloved St. Pope John
        Paul
        the II. This Living Rosary was a part of his path to the
        priesthood. He
        also promoted this Rosary his entire life.

        It started here in the United States in Mitchell, South Dakota
        by Fr.
        Andrew also from Krakow, Poland. He asked his parishioners to
        continue
        spreading the devotion. As it's grown more people have been
        asked to
        help spread it around the world. This is how we have become
        involved.
        This Living Rosary embraces the hearts of thousands of families
        and
        individuals through the meditation on one decade daily, unifying
        their
        intentions with the Roman Catholic hierarchy, religious,
        parishes and
        pro-life endeavors. The devotion shows how the mysteries of
        Christ’s
        life can be transformed into our daily lives, allowing the
        experience to
        live and love as Christ asks of us. Meditating with Jesus and
        Mary
        through these mysteries help us discover the messages her son
        intends
        for our daily growth.

        When we give our lives to Jesus and Mary, and invite them in, we
        will
        experience a deepening of faith, hope, and love that will
        flourish in
        our hearts. Please join us in Praying the Gospel and Changing
        the World
        !!!

    </p>
    <a role="button"
        class="collapsed"
        data-toggle="collapse"
        href="#historytext"
        aria-expanded="false"
        aria-controls="historytext"></a>

</div>