<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">

    {{> contact.franktrudy }}

  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">

    {{> contact.jenny }}

  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">

    {{> contact.roger }}

  </div>
</div>