<main class="mt-5">
    <div class="container">
        <!--Section: Best Features-->
        <section id="best-features"
            class="text-center">
            {{!-- {{> videofeature}} --}}
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                {{> history.component }}
                <!--Grid column-->
                {{> devotion.component }}
                <!--Grid column-->
                {{> joinus.component }}
                <!--Grid column-->

                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <hr class="my-5">