<main class="mt-5">
    <div class="container">
        <div class="row">
            <!--Grid column-->
            {{> history.component }}
            <!--Grid column-->
            {{> devotion.component }}
            <!--Grid column-->
            {{> joinus.component }}
        </div>
        <!--Grid row-->
        </section>
    </div>
</main>
<hr class="my-5">