<!--Mask-->
<div id="intro"
    class="view">

    <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-10">

                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2"> {{ site }}</h2>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <h4 class="white-text my-4">Wecome to the Living Rosary Apostolate!
                        <hr>
                        <p>Be part of Our Lady's Living Rosary.</p>
                        <p> Praying one decade, by yourself
                            daily, </p>
                        <p>with thousands around the world</p>
                    </h4>
                    <button type="button"
                        class="btn btn-outline-white">Join us in praying this devotion!<i
                            class="fas fa-book ml-2"></i></button>

                </div>

            </div>

        </div>

    </div>

</div>
<!--/.Mask-->