<div class="col-md-4 mb-1"
    id="whyjoindiv">
    {{!-- <i class="fas fa-bicycle fa-4x orange-text"></i> --}}
    <svg class="icon">
        <use xlink:href="#network" />
    </svg>



    <h4 class="my-4 font-weight-bold">Why Join Us?</h4>
    <p class="black-text">Lorem ipsum dolor sit amet, consectetur
        adipisicing
        elit.
        Reprehenderit maiores nam, aperiam minima
        assumenda deleniti hic.</p>
</div>