<h1 class="webnote">Testimony Component
  <hr>
  This section has a short head explaining what's here
  <hr>
  Here are three examples of Testimony Cards with a small quote. Clicking anywhere on a card will
  take you to the full document that the quote excerpt is from</h1>