<h1 class="webnote">Details Component
  <hr>
  This component area will have side-scrolling. The text here is limited to 6-8 lines and by
  clicking on the title, icon, or text area will take you to a full page of that specific Detail
  topic
</h1>