<h1 class="webnote">Contact Info Component
  <hr>
  I have pics of everyone so I'm planning to have the contacts listed in cards horizontally and
  users can click on their geographic area, fill out the form and submit.</h1>