.webnote {
	font-size: 1em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	background-color: lime;
	color: black;
	border-top: 5px dotted black;
	border-bottom: 5px dotted black;
	display: none;
}
